:root{
    --primary-color: #1c1c1e;
    --secondary-color: #000000;
    --tertiary-color: rgba(28,28,30,255);
    --text-color: rgb(199, 199, 199);
    --primary-accent-color: #0b84fe;
    --secondary-accent-color: #2ed158;
}
body, html {
    height: 100%;
    margin: 0;
}
  
* {
    box-sizing: border-box;
}
body{
    background-color: var(--secondary-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    color: var(--text-color);
}

h1,
h2,
p,
li{
    margin: 0;
    list-style-type: none;
}

.spacing{
    width: 93%;
    margin: 0 auto;
}

/* Layout */
.site-header{
    margin-top: 1em;
}