:root{
    --primary-color: #1c1c1e;
    --secondary-color: #000000;
    --tertiary-color: rgba(28,28,30,255);
    --text-color: rgb(199, 199, 199);
    --primary-accent-color: #0b84fe;
    --secondary-accent-color: #2ed158;
}
body, html {
    height: 100%;
    margin: 0;
}
  
* {
    box-sizing: border-box;
}
body{
    background-color: var(--secondary-color);
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
p,
li{
    margin: 0;
    list-style-type: none;
}

.app-title{
    justify-self: center;
    align-self: center;
}

.placeholder{
    justify-self: center;
    align-self: center;
}

.user-btn-sect{
    
    justify-self: center;
    align-self: center;

    
}


/* Backgroung Blur image */
.welcome-screen{
    height: 100%;
}


.bg-image {
background-image: url("../img/bg2.jpg");


filter: blur(4px);
-webkit-filter: blur(4px);

height: 100%;
width: 100%;

background-position: center;
background-repeat: no-repeat;
background-size: cover;

}


.bg-content {
background-color: rgb(0,0,0);
background-color: rgba(0,0,0, 0.4);
color: white;
border: none;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 2;
width: 100%;
height: 100%;
text-align: center;

display: grid;

}


/* Buttons */
.btn{
    padding: .4em 1.3em;
    font-size: 1.1rem;
    border: none;
    border-radius: 18px;
    font-weight: 400;
    color: var(--text-color);
    cursor: pointer;
}
.btn-start{
    background-color: var(--primary-color);
    box-shadow: 1px 18px 43px 14px rgba(0,0,0,1);
    -webkit-box-shadow: 1px 18px 43px 14px rgba(0,0,0,1);
    -moz-box-shadow: 1px 18px 43px 14px rgba(0,0,0,1);

    margin-top: 1em;
    padding: 1em 5em;
}
